{% extends "@FOSUser/layout.html.twig" %}
	{% block fos_user_content %}
		{% trans_default_domain 'FOSUserBundle' %}
		<form class="form-horizontal" role="form" method="POST" action="{{ path("fos_user_security_check") }}">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Sign In</h2>
                    <hr>
                </div>
            </div>
            {% if error %}
             <div class="row">
             	<div class="col-md-3"></div>
                <div class="col-md-6">
					<div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				 </div>
            </div>
					{% endif %}
            {% if csrf_token %}
            	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="sr-only" for="login-username">{{ 'security.login.username'|trans }}</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                            <input type="text" name="_username" class="form-control" id="login-username"
                                   placeholder="{{ 'security.login.username'|trans }}" required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="sr-only" for="login-password">{{ 'security.login.password'|trans }}</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <input type="password" name="_password" class="form-control" id="login-password"
                                   placeholder="{{ 'security.login.password'|trans }}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Sign In</button>
                    <a class="btn btn-link" href="{{path("fos_user_resetting_request")}}">Forgot Your Password?</a>
                </div>
            </div>
            <div class="row">
            	<div class="col-md-3"></div>
                <div class="col-md-6" style="border-top: 1px solid#888; margin-top:15px; font-size:85%" >
            		Don't have an account! 
            		<a href="{{path("fos_user_registration_register")}}">
            			Sign Up
            		</a>
                </div>
            </div>
        </form>
{% endblock fos_user_content %}
