{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    		<div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Reset Password</h2>
                    <hr>
                </div>
            </div>
			<div class="row">
				<div class="col-md-3"></div>
                <div class="col-md-6">
				    <div class="form-group">
				    	<div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
				        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder':'Password'} }) }}
				    	</div>
				        {% for errorItem in form.plainPassword.first.vars.errors %}
				        <span class="help-inline text-danger">{{ errorItem.message }}</span>
				        {% endfor %}
				    </div>
			    </div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
                <div class="col-md-6">
				    <div class="form-group">
				    	<div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
				        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder':'Repeat Password'} }) }}
				    	</div>
				        {% for errorItem in form.plainPassword.second.vars.errors %}
				        <span class="help-inline text-danger">{{ errorItem.message }}</span>
				        {% endfor %}
				    </div>
			    </div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
                <div class="col-md-6">
				    <div class="form-actions">
				        <button type="submit" id="register-submit-btn" class="btn btn-success">Submit</button>
				    </div>
			    </div>
			</div>
{{ form_end(form) }}

